<% provide(:title, "Help") %>
<h1>Help</h1>
<p>Helpページです。準備中!</p>
<div>
        <%= link_to home_path, class: "inline-block" do %>
        <%= heroicon "arrow-left",
                        variant: :outline,
                        options: { width: 48, height: 48, class: "text-gray-500" } %>
        <% end %>   
</div>
